<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <description>Test App</description>

    <!-- servlet definition -->
    <servlet>
        <servlet-name>AppConnection</servlet-name>
        <servlet-class>marcing.iotproject.appConnectionServlet.boundary.AppConnectionServlet</servlet-class>
    </servlet>
    <!-- servlet mapping -->
    <servlet-mapping>
        <servlet-name>AppConnection</servlet-name>
        <url-pattern>/updateInfo/*</url-pattern>
    </servlet-mapping>

</web-app>